
@{
    ViewBag.Title = "Thông tin thành viên";
}

<h2>@ViewBag.Title</h2>
<table class="table table-bordered">
    <t class="table-header">thông tin về đơn vị tuyển</t>
    <tr>
        <td class="td-label">@Html.Label("Tên đơn vị tuyển (*)")</td>
        <td>@TempData["recruitingAgencyName"]</td>
    </tr>
    <tr>
        <td class="td-label">@Html.Label("Loại hình doanh nghiệp (*)")</td>
        <td>@TempData["businessType"]</td>
    </tr>
    <tr>
        <td class="td-label">@Html.Label("Số lượng nhân viên")</td>
        <td>@TempData["numberOfEmployees"]</td>
    </tr>
</table>
<table class="table table-bordered">
    <t class="table-header">thông tin về đơn vị tuyển</t>
    <tr>
        <td class="td-label">@Html.Label("Địa chỉ (*)")</td>
        <td>@TempData["address"]</td>
    </tr>
    <tr>
        <td class="td-label">@Html.Label("Người liên hệ (*)")</td>
        <td>@TempData["contactPerson"]</td>
    </tr>
    <tr>
        <td class="td-label">@Html.Label("Số điện thoại (*)")</td>
        <td>@TempData["phoneNumber"]</td>
    </tr>
    <tr>
        <td class="td-label">@Html.Label("Số Fax")</td>
        <td>@TempData["faxNumber"]</td>
    </tr>
    <tr>
        <td class="td-label">@Html.Label("Email")</td>
        <td>@TempData["businessType"]</td>
    </tr>
    <tr>
        <td class="td-label">@Html.Label("Địa chỉ Website")</td>
        <td>@TempData["websiteUrl"]</td>
    </tr>
</table>
<table class="table table-bordered">
    <t class="table-header">thông tin về đơn vị tuyển</t>
    <tr>
        <td class="td-label">@Html.Label("Tên đăng nhập (*)")</td>
        <td>@TempData["username"]</td>
    </tr>
    <tr>
        <td class="td-label">@Html.Label("Mật khẩu (*)")</td>
        <td>@TempData["password"]</td>
    </tr>
</table>
<table class="table table-bordered">
    <t class="table-header">thông tin về đơn vị tuyển</t>
    <tr>
        <td class="td-label">@Html.Label("Nhận thư điện tử")</td>
        <td>
            @TempData["receiveEmail"]
        </td>
    </tr>
</table>

